/* --Global styling--*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  background: black;
}
h1 {
  font-size: 2rem;
}

h2,
h3 {
  font-weight: 700;
  margin-bottom: 4rem;
  flex: 1;
}
a,
h2,
h3,
p {
  z-index: 1;
  color: white;
  text-decoration: none;
}

img {
  background-size: cover;
}

/* --Header--*/

#logo {
  margin: auto;
  max-width: 44rem;
}

header {
  min-width: 150rem;
  margin: auto;
  max-width: 95%;
}

nav {
  min-height: 10%;
  display: flex;
  font-weight: 700;
}

nav li {
  padding: 2rem;
}
nav ul {
  font-size: 3rem;
  color: white;
  flex: 1;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

button {
  background: #b4042a;
  padding: 1rem 5rem;
  border: none;
  border-radius: 0.8rem;
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

/* --Hero Section--*/

.hero {
  min-height: 80vh;
  width: 93%;
  display: flex;
}

.hero-imagecontain,
.hero-text {
  flex: 1 1;
}
p {
  font-weight: 100;
  font-family: "work sans", sans-serif;
  text-align: center;
  font-size: 2.8rem;
  line-height: 6rem;
  margin-bottom: 5rem;
  letter-spacing: 0.22rem;
}
h2 {
  margin-left: 4rem;
  text-align: end;
  font-size: 10rem;
}

span {
  color: #b4042a;
}

.scroll-down {
  display: block;
  margin: auto;
  margin-bottom: 10rem;
}

/* --Live music & pool house Section--*/

.live-music,
.pool-house {
  margin: auto;
  min-height: 80vh;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10rem;
}

h3 {
  text-align: center;
  font-size: 6rem;
}

/* --Tour Section--*/

video {
  display: block;
  margin: auto;
  width: 70%;
  margin: 10% auto 10%;
}

/* --Menu Section--*/

.menu-header {
  padding: 0 5%;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.span-meals {
  color: #ff9f0e;
}

.menu-slider ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 7%;
}
.all-meals-container {
  margin-top: -5%;
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-meals {
  height: 7vh;
  text-align: center;
  font-size: 2.35rem;
  padding: 1%;
}

.footer-menu {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "work sans", sans-serif;
  font-size: 3rem;
  opacity: 65%;
}

#logo-footer {
  margin-left: -5%;
}

.made-by {
  font-size: 2rem;
}
