/* --Global styling--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: black;
}

section {
  max-height: 100vh;
  margin: 5% auto;
  padding: 5% auto;
}
h1 {
  font-size: 2rem;
}

h2,
h3 {
  font-weight: 700;
  margin-bottom: 4rem;
  flex: 1;
}
a,
h2,
h3,
p {
  z-index: 1;
  color: white;
  text-decoration: none;
}

/* --Header--*/

#logo {
  margin: auto;
  max-width: 44rem;
}

header {
  background: #000000;
  margin: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav {
  min-height: 9%;
  display: flex;
  font-weight: 700;
}

nav li {
  padding: 2rem;
}
nav ul {
  font-size: 3rem;
  color: white;
  flex: 1;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

button {
  background: #b4042a;
  padding: 1rem 5rem;
  border: none;
  border-radius: 0.8rem;
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

/* --Hero Section--*/

.hero {
  padding: 5% 0 0;
  align-self: center;
  margin: auto;
  width: 93%;
  display: flex;
  max-height: 150%;
}

.hero-imagecontain img {
  width: 150%;
  transform: translateX(-20%);
}

.hero-imagecontain,
.hero-text {
  padding: 5% 5% 0 8%;
  width: 50%;
  margin-top: -2%;
  flex: 1 1;
}
p {
  max-height: 100%;
  padding: 3rem 2rem;
  font-weight: 100;
  font-family: "work sans", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.22rem;
}
h2 {
  max-height: 20%;
  margin-bottom: 7rem;
  margin-left: 6rem;
  text-align: end;
  font-size: 8rem;
}

span {
  color: #b4042a;
}

.scroll-down {
  display: block;
  margin: auto;
  animation: bounce 2s linear infinite;
}

/* --Live music & pool house Section--*/
.live-music,
.pool-house img {
  height: auto;
  max-width: 100%;
  flex: 2 2;
}
.music-text,
.pool-text {
  flex: 1 1;
}
.live-music,
.pool-house {
  padding: 10% 0;
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 8rem;
}

h3 {
  text-align: center;
  font-size: 6rem;
}

/* --Tour Section--*/

video {
  padding: 5% 0;
  margin: auto;
  display: block;
  width: 70%;
}
/* --Menu Section--*/

.menu {
  height: 80%;
  align-items: flex-end;
}
.menu-header {
  padding: 0 5%;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.span-meals {
  color: #ff9f0e;
}

.menu-slider ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 7%;
}
.all-meals-container {
  margin-top: -5%;
  margin-bottom: 6%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-meals {
  height: 7vh;
  text-align: center;
  font-size: 2.35rem;
  padding: 1%;
  margin: auto;
}

/*--footer section--*/

.footer-menu {
  height: 10vh;
  margin: 5% auto 4%;
  padding-top: 5%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "work sans", sans-serif;
  font-size: 3rem;
  opacity: 65%;
}

#logo-footer {
  margin-left: -5%;
}

.made-by {
  margin-top: 4rem;
  font-size: 2rem;
  margin: auto;
}

@keyframes bounce {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
